{:paths ["src"]

 :deps {org.clojars.roklenarcic/memento {:mvn/version "0.9.5"}
        com.taoensso/carmine {:mvn/version "3.1.0"}}

 :aliases {:dev {:extra-paths ["test"]
                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                            "-Djdk.attach.allowAttachSelf"]}}}
